md-toolbar.filter
  background-color white!important

md-toolbar.filter  .md-toolbar-tools
  font-size 14px!important

md-card-content.out-margin
  padding-top 0px

.arrow
  font-size 15px!important
  color rgb(33,150,243)
.md-list-item-text h3 a
  color rgb(33,150,243)
md-icon.N
  color #F44336!important
md-icon.P
  color #9C27B0!important
md-icon.V
  color #2196F3!important
md-icon.C
  color #8BC34A!important

/* purple = #9C27B0 blue = #2196F3  green = #8BC34A*/
/*
  error_outline = CREADO
  loop = PROCESO
  phone_locked, assignment = PENDIENTE POR CIERRE

  remove_circle_outline = CERRADO



*/
