input#fileInput.ng-hide(type='file' multiple accept="image/*" )
md-button#uploadButton.md-raised.md-primary(aria-label='attach_file') Adjuntar archivos
md-input-container()
  input#textInput(ng-model='model', type='text', placeholder='No file chosen', ng-readonly='true')
